.chart_buttons {
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .chart_buttons2 {
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .chart_buttons_selected {
    background-color: #1F316F;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
  }