.main-content {
    padding: 20px;
    width: 100%;
  }

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  }

  .t2btns{
    float: right; /* 오른쪽으로 플로팅 */
    margin-right: 0; /* 오른쪽 여백 없음 */
    border: none; /* 테두리 제거 */
    max-width: 140px;
    background-color: black;
    border-radius: 45px;
}


.subtitles{
  font-size: 25px;
  font-weight: bold;
}

.status-card {
  background-color: #f8f9fa;
  border-radius: 8px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
  padding: 15px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  max-width: 200px; 
  margin: 0 auto;
  margin-left: 30px;
}

.status-message {
  font-size: 16px; 
  font-weight: bold;
  margin-left: 10px; 
}

.status-icon {
  font-size: 30px; 
}


@media (max-width: 343px) {
  .titles{
    font-size: 25px;
    font-weight: bold;
  }

  .status-card {
    background-color: #f8f9fa; 
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    max-width: 200px;
    margin: 0 auto;
    margin-left: 63px;
  }
}


@media (max-width: 343px) {
  .titles{
    font-size: 20px;
    font-weight: bold;
  }

  .status-card {
    background-color: #f8f9fa; 
    border-radius: 8px; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 15px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    max-width: 200px; 
    margin: 0 auto; 
    margin-left: 70px;
  }
}



  