#map {
    margin: 0 auto;
    margin-bottom: 50px;
    bottom: 70px;
  }

  .wrap {
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
    line-height: 1.5;
  }
  .wrap * {
    padding: 0;
    margin: 0;
  }
  .wrap .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: black;
  }
  .wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
  }
  .info .title {
    padding: 5px 0 0 10px;
    height: 40px;
    background: black;
    border-bottom: 1px solid #f1c40f;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  .info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
  }
  .info .close:hover {
    cursor: pointer;
  }
  .info .body {
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .info .desc {
    position: relative;
    /* margin: 13px 0 0 90px; */
    margin-top: 15px;
    height: 75px;
    text-align: center;
  }
  .desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    color: white;

  }

  .desc .phone{
    text-align: center;
    color: white;

  }
  
  .info:after {
    content: "";
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
  }

  .custom-button {
    background-color: white; /* 기본 배경색은 흰색 */
    color: black; /* 기본 텍스트 색상은 검정색 */
    border: 1px solid #ccc; /* 기본 테두리 색상 */
  }



  


  
  